html {
    background-color: #ECECEA; 
}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            #5F0D0A;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            #393f4d;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  color:            #5F0D0A;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  } 

.circle{
    border-radius: 50%;
}
