body {
    background-color: #393f4d;
    margin: 0;
    text-align: center;
}

::selection {
    background: #333D51}

a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: #F3E8EB;
    font-weight: 100;
}

#name {
    color: #F3E8EB;
}


h1 {
    text-align: middle;
    font-size: 57px;
    font-family: 'Roboto', sans-serif;
    margin-top: 350px;
    margin-bottom: 0px;
    font-weight: 100;
    font-color: #F3E8EB;
}

#particles-js {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #393F4D;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#particles-js canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
